{% extends 'base.html' %}
{% block content %}
<head>
<title>Forum</title>
</head>
<body>
<section class="user_summary py-5">
<div class="container">
  <div class="row d-flex justify-content-between pl-3 pr-2">
    <div class="row">
      <div class="text-white px-0">
          <h5><b>{{user.username}} </b>님</h5>
        <p>POINT : {{user.point}}점<br>
        레벨 : {{user.point // 50}}</p>
      </div>
      <ul class="list-group list-group-horizontal border-left align-self-center ml-3 px-3">
        <li class="list-item"><a href="#"><img src="{{ url_for('static', filename='img/sprout.png') }}"></a></li>
        <li class="list-item"><a href="#"><img src="{{ url_for('static',  filename='img/give-love.png') }}"></a></li>
      </ul>
    </div>
  </div>
</div>
</section>
<section class="user-menu">
<div class="container">
    <span class="row mt-5">다음 레벨까지 <b>&nbsp;{{user.point % 50}} </b>점 남았어요!</span>
  <h5 class="row mt-5">함께한 기록</h5>
  <div class="row mb-5">
    <span class="mr-1">추천</span><i class="fas fa-heart text-danger pr-2"></i> <p class="pr-2 font-weight-bold">{{ vote }}</p>
    <span class="mr-2">작성 게시물</span><p class="pr-2 font-weight-bold">{{question_num}}</p>
    <span class="mr-2">작성 댓글</span><p class="pr-1 font-weight-bold">{{answer_num}}</p>
  </div>
  <section class="activity-long">
    <div class="container px-0">
      <div class="row">
         <div class="col-6 px-0">
          <h6 class="text-body font-weight-bold pb-3">작성한 게시물</h6>
         {% for question in question_list %}
             {% if question != "" %}
              <div class="reply  mb-3">
                <span class="pr-2 text-muted">{{ question.create_date|datetime }}</span><span><i class="fas fa-heart text-danger"></i> {{question.voter|length}}</span>
                <div><a href="{{ url_for('question.detail', question_id=question.id) }}" class="mb-4 text-info">{{ question.subject }}</a></div>
              </div>
             {% else %}
             <div class="mb-3">
                <span class="pr-2 text-muted"></span><span></span>
                <div><a href="#" class="mb-4 text-info"></a></div>
              </div>
             {% endif %}
         {% endfor %}
          <a href="#" class="text-muted" style="position: absolute; bottom:0;">모든 게시물 <i class="fas fa-long-arrow-alt-right pl-2 text-warning"></i></a>
        </div>

        <div class="col-6 px-0">
          <h6 class="text-body font-weight-bold pb-3">작성한 댓글</h6>
         {% for answer in answer_list %}
             {% if answer != "" %}
              <div class="reply  mb-3">
                <span class="pr-2 text-muted">{{ answer.create_date|datetime }}</span><span><i class="fas fa-heart text-danger"></i> {{answer.voter|length}}</span>
                <div><a href="{{ url_for('question.detail', question_id=answer.question_id) }}" class="mb-4 text-info">{{ answer.content }}</a></div>
              </div>
             {% else %}
             <div class="mb-3" style="height: 48px">
                <span class="pr-2 text-muted">&nbsp;</span><span> &nbsp;</span>
                <div><a href="#" class="mb-4 text-info">&nbsp;</a></div>
              </div>
             {% endif %}
         {% endfor %}
          <a href="#" class="text-muted">모든 댓글 <i class="fas fa-long-arrow-alt-right pl-2 text-warning"></i></a>
        </div>
      </div>
    </div>
  </section>

</div>
  <section class="user-badges my-5">
    <div class="container px-0">
      <h6 class="font-weight-bold text-body">획득한 뱃지</h6>
      <div class="row badges">
      {% if question_num >= 3 %}
           <div class="col-4 pt-4 bot">
            <div class="text-center py-3 bg-white">
              <span class="top-right bg-secondary text-white p-1">{{question_num}}</span>
              <img src="{{ url_for('static', filename='img/sprout.png') }}" class="img-fluid pb-4">
              <p class="font-weight-bold mb-0 pt-3">새내기</p>
              <span>HY-WORLD 게시물 {{question_num}}개 작성</span>
             </div>
           </div>
      {% endif %}
      {% if vote >= 3 %}
           <div class="col-4 pt-4 bot">
            <div class="text-center py-3 bg-white">
              <span class="top-right bg-secondary text-white p-1">{{ vote }}</span>
              <img src="{{ url_for('static', filename='img/give-love.png') }}" class="img-fluid pb-4">
              <p class="font-weight-bold mb-0 pt-3">하트</p>
              <span>게시물 및 댓글 작성으로 추천 {{vote}} 개 획득</span>
             </div>
           </div>
      {% endif %}
    </div>
<!--    <a href="#" class="text-muted">More Badges <i class="fas fa-long-arrow-alt-right pl-2 text-warning"></i></a>-->
    </div>
  </section>

</section>
</div>
</body>
{% endblock %}